  svg.genesys_attrs .sep {
    fill:none;stroke-width:.127;stroke:#8793b5;
  }
  
  svg.genesys_attrs .deco {
    fill:#f79d38;paint-order:markers fill stroke;
  }
  
  svg.genesys_attrs .carac {
    fill:#ffffff;font-family:'Bebas Neue';font-size:2.47px;stroke-width:.265;text-align:center;text-anchor:middle ;
  }
  
  svg.genesys_attrs  .circle {
   fill:#fff;stroke-width:.596;stroke:#26548b ;
  }
  
  svg.genesys_attrs  .polygon {
    fill:#26548b;paint-order:markers fill stroke;stroke-width:.238;stroke:#8793b5;
  }

  svg.genesys_attrs text.nb {
    font-family:'Bebas Neue';
    font-size:4.6px;
    font-weight:bold;
    stroke-width:.265;
    text-align:center;
    text-anchor:middle 
   }