{% if val %}

{% if val == 5 %}
<span title="Сложность" class="genesys-symbol genesys-symbol-difficulty"></span><span title="Сложность" class="genesys-symbol genesys-symbol-difficulty"></span><span title="Сложность" class="genesys-symbol genesys-symbol-difficulty"></span><span title="Сложность" class="genesys-symbol genesys-symbol-difficulty"></span><span title="Сложность" class="genesys-symbol genesys-symbol-difficulty"></span>
{% elif val == 4 %}
<span title="Сложность" class="genesys-symbol genesys-symbol-difficulty"></span><span title="Сложность" class="genesys-symbol genesys-symbol-difficulty"></span><span title="Сложность" class="genesys-symbol genesys-symbol-difficulty"></span><span title="Сложность" class="genesys-symbol genesys-symbol-difficulty"></span>
{% elif val == 3 %}
<span title="Сложность" class="genesys-symbol genesys-symbol-difficulty"></span><span title="Сложность" class="genesys-symbol genesys-symbol-difficulty"></span><span title="Сложность" class="genesys-symbol genesys-symbol-difficulty"></span>
{% elif val == 2 %}
<span title="Сложность" class="genesys-symbol genesys-symbol-difficulty"></span><span title="Сложность" class="genesys-symbol genesys-symbol-difficulty"></span>
{% elif val == 1 %}
<span title="Сложность" class="genesys-symbol genesys-symbol-difficulty"></span>
{% endif %}
{% else %}
<span title="Сложность" class="genesys-symbol genesys-symbol-difficulty"></span>
{% endif %}
