{% extends "index.html" %}

{% block title %} {{ config.title }} | {{ section.title }} {% endblock title %}

{% block extra_head %}
<meta property="og:title" content="{{ config.title }} | {{ section.title }}" /> 
<meta property="og:description" content="{{section.description}}">
{% endblock extra_head %}

{% block content %}
    {% if section.word_count > 0 -%}
        {{ section.content | safe }}
    {% else -%}
        <h2 class="title"> {{ section.title }} </h2>

        {% if section.subsections -%}
            <h3>Секции:</h3>
            <ul>
                {% for subsec in section.subsections -%}
                    {% set sec_ = get_section(path=subsec) -%}
                    <li><a href="{{ sec_.permalink | safe }}{{ _ugly_url }}">{{ sec_.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif -%}

        <h3>Страницы:</h3>
        <ul>
            {% if section.pages -%}
                {% for page in section.pages -%}
                    <li><a href="{{ page.permalink | safe }}{{ _ugly_url }}">{{ page.title }}</a></li>
                {% endfor -%}
            {% else -%}
                <li>No pages</li>
            {% endif %}
        </ul>
    {% endif -%}
{% endblock content %}



